body {
    background-color: #333;
    color: #f3f3f3;
}
.title {
    font-size: 50px;
    color:aquamarine;
    text-align: right;
}
.subtitle {
    font-size: 25px;
    color:darkblue;
}
.paragraph {
    font-size: 18px;
}
.anchor {
    color:fuchsia;
}
