body {
    background-color: #333;
    color: #f3f3f3;
}
h1 {
    font-size: 60px;
    color:aqua;
    text-align: center;
}
h2 {
    font-size: 30px;
    color:brown;
}
p {
    font-size: 20px;
}
a {
    color:coral;
}
