/* COMMENT HERE tot ce scrii aici ii trecut ca notes, nu se va vedea in browser */
/* If you hold CTRL and press the forward slash it will automatically set up the note taking that will not show up in the browser. */
body    {
     background: rgb(252, 253, 255);
     /* margin: 0; if you want that backgroud color to touch the edges of the screen */
     margin:0;
    }

header  {
    background-color: #4a4a4a;
    color:blanchedalmond;
    border-color:#333;
    border-width: 10px;
    /* border-style: solid; dotted; dashed; double; groove; ridge; outset; */
    border-style: solid;
    text-align: center;
    padding: 25px 0px;
    margin: 25px;
    }

main {
    /* place text here using headings paragraphs and lists */
    background-color: #e4e4e4;
    color: blanchedalmond;
    padding: 25px;
    border: solid 5px red;
    /* if you want the entire element to be centered on the screen you need to give it a margin-left: auto and a margin-right:auto  */
    margin-left: auto;
    margin-right: auto;
    /* you can write margin-left and margin right in one word that is (margin 0 auto;)*/
    max-width: fit-content;
    }

footer {
    background-color: #4a4a4a;
    color: blanchedalmond;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 25px;
     }

p   {
    color:black;
    font-size: 24px;
    
    }

h1  {
    color: black;
    font-size: 60px;
    }

h3  {
    color:black;
    text-align: center; 
    font-size: 30px;
    }

a   {
    color:dark blue;
    }

ul  {
    color:black;
    text-align: left;
    font-size: 24px;
    }

ol  {
    color:black;
    text-align: left;
    font-size: 24px;
    }

img {
    border-style:groove;
    border-color:yellowgreen;
    border-width: 20px;
/* you can also use border shorthand (the order you put them in doesn't matter */
/* border: 2px solid pink; */
    padding: 20px;
    margin: 20px;
    font-size: medium;
    height: 600px;
    width: 600px;   
     }

.columns {
    width:fit-content;
    }

.column {
    border: 2px solid black;
    margin: 5px;
    }
.class2{
    
    
    }
.class3{
    
}