body {
    background: #333;
    color: white;
}

header {
    color: #333;
    background: white;
    width: 100px;
    margin: 200px 300px;
    padding: 20px 20px;
}

main {
    color: #333;
    background-color: aqua;
    width: 100px;
    margin-left: 250px;
    padding: 150px;
}